body {
  font-family: "Playpen Sans", "Verdana";
  font-size: 15px;
}

.app-icon {
  width: 100px;
}

.link-icon {
  width: 75px;
  padding: 10px;
}

.header {
  font-family: "Permanent Marker", "Lucida Handwriting";
  font-size: 60px;
}

.title {
  padding-bottom: 20px;
  font-family: "Permanent Marker", "Lucida Handwriting";
  font-size: 30px;
}

.food-title {
  padding-left: 20px;
  padding-bottom: 10px;
  font-family: "Gluten", "Papyrus";
  font-size: 25px;
}

.status {
  /* font-family: "Gluten"; */
  font-size: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.search {
  padding-top: 20px;
  padding-bottom: 20px;
}

.instructions {
  /* padding-top: 0px; */
  /* padding-bottom: 30px; */
  margin: 0px;
}

.entry {
  padding-bottom: 20px;
}

.image {
  margin: 20px;
  border-radius: 5%;
  transition: transform 0.2s;
  /* object-fit: cover; */
  /* height: "400px"; */
  /* width: "100%"; */
  /* background-position: "center center"; */
  max-width: 100%; /* Set a maximum width of 100% of the parent container */
  height: auto;
}

.image:hover {
  transform: scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  padding: 20px;
  border-radius: 2%;
  background-color: white;
  transform: translate(-50%, -50%);
  /* border: "2px solid #000"; */
  box-shadow: 20;
}
