body {
  font-family: "Playpen Sans", "Verdana";
  font-size: 15px;
}

.app-icon {
  width: 100px;
}

.link-icon {
  width: 75px;
  padding: 10px;
}

.header {
  font-family: "Permanent Marker", "Lucida Handwriting";
  font-size: 60px;
}

.title {
  padding-bottom: 20px;
  font-family: "Permanent Marker", "Lucida Handwriting";
  font-size: 30px;
}

.food-title {
  padding-left: 20px;
  padding-bottom: 10px;
  font-family: "Gluten", "Papyrus";
  font-size: 25px;
}

.status {
  /* font-family: "Gluten"; */
  font-size: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.no-recipes {
  width: 40%;
  padding: 10px;
}

.search {
  padding-top: 20px;
  padding-bottom: 20px;
}

.go-button {
  font-family: "Playpen Sans", "Verdana";
}

.instructions {
  /* padding-top: 0px; */
  /* padding-bottom: 30px; */
  margin: 0px;
}

.recipe {
  padding-bottom: 20px;
}

.image {
  margin: 20px;
  border-radius: 5%;
  transition: transform 0.2s;
  /* object-fit: cover; */
  /* height: "400px"; */
  /* width: "100%"; */
  /* background-position: "center center"; */
  max-width: 100%; /* Set a maximum width of 100% of the parent container */
  height: auto;
}

.image:hover {
  transform: scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  min-height: 70%;
  max-height: 90%;
  min-width: 50%;
  max-width: 800px;
  padding: 20px;
  border-radius: 2%;
  background-color: blanchedalmond;
  transform: translate(-50%, -50%);
  /* border: "2px solid #000"; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  /* overflow-y: auto; */
}

.modal-image {
  margin-top: 20px;
  margin-bottom: 20px;
  /* margin: 20px; */
  width: 100%;
  /* width: 30vw; */
  /* height: 320px; */
  /* object-fit: contain; */
  /* height: 20vw; */
  border-radius: 5%;
  /* transform: scale(1.5); */
}

.modal-title {
  /* padding: 0px; */
  /* padding-left: 20px; */
  /* padding-bottom: 10px; */
  font-family: "Gluten", "Papyrus";
  font-size: 30px;
  text-align: center;
}

.modal-sub-title {
  padding-top: 20px;
  /* padding-bottom: 10px; */
  font-family: "Gluten", "Papyrus";
  font-size: 30px;
}

.modal-content {
  font-family: "Playpen Sans", "Verdana";
  font-size: 15px;
}
